

@font-face{
    font-family: online;
    src: url(../fonts/online.otf);
}
@font-face{
    font-family: course;
    src: url(../fonts/Cocogoose-Classic-Bold-trial.ttf);
}
@font-face{
    font-family: coco;
    src: url(../fonts/Cocogoose-Classic-Light-trial.ttf);
}
@font-face{
    font-family: footer;
/*    src: url(../fonts/ds_crystal.ttf);*/
    src: url(../fonts/gunplay-regular.ttf);
}
@font-face{
    font-family: cybermind;
    src: url(../fonts/handelson.otf);
}
@font-face{
    font-family: furore;
    src: url(../fonts/Furore.otf);
}



html{
	scroll-behavior: smooth;
}
body{
	margin: 0;
	font-family: coco;
}
a{
	text-decoration: none;
}
header{
	width: 100%;
	/*min-height: 100px;*/
	font-family: furore;
	color: #011b80;   
	text-shadow: 0px 0px 5px  #098;
	font-size: 24pt;
	border-radius: 0 0 10px 10px;
	box-shadow: 0 0 10px 1px #ccf;
}
header div{
/*	height: 50px;*/
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}
header div + div{
	margin-right: 30px;
	margin-top: 20px;
/*	padding-top: 50px;*/
	float: right;
}
footer{
	width: 100%;
	/*min-height: 100px;*/
	font-family: furore;
	text-shadow: 0px 0px 5px  #098;	
	color: #011b80;
	font-size: 24pt;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 0 10px 1px #ccf;

}
footer div{
/*	height: 50px;*/
	margin-left: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	float: left;
}
footer div + div{
	margin-right: 30px;
	margin-top: 20px;
/*	padding-top: 50px;*/
	float: right;
}
span.title{
	font-size: 36pt;
	color: #011b80;
	font-weight: bolder;
	font-family: course;
}
.clear{
	clear: both;
}

#s1{
	padding: 0 5%;
}
#s1 h1{
	text-align: center;
	font-size: 36pt;
	color: #011b80;
	font-weight: bold;
	font-family: furore;
	letter-spacing: 2pt;

}
#s1 img{
	float: right;
	max-width: 500px;
}





@media screen and (min-width: 200px) and (max-width: 999px) {











}





