
@media screen and (min-width: 1000px) and (max-width: 1999px){



	#cont{
		background-color: #fff;
		width: 100%;
		text-align: center;
		padding: 0 20px;
		box-sizing: border-box;
	}
	#s1{
		text-align: justify;
	}
	#man{
		/*max-width: 400px;*/
		width: 40%;
		max-width: 500px;
		display: block;
		float: right;
	}
	#s2 .desc{
		font-size: 18pt;
		color: #00a;
		font-weight: bold;
/*		font-family: arial;*/
		width: 80%;
		margin: auto;
	}
	div.block{
		width: 80%;
		margin-bottom: 30px;
		background-color: #fff;
		border-radius: 10px;
		text-align: left;
		font-size: 12pt;
		color: #00f;
		margin: auto;
		box-sizing: border-box;
		box-shadow: 0 0 30px #99f;

	}
	#div_1{
		margin-left: 5%;
		margin-top: 100px;
	}
	#div_2{
		font-size: 18pt;
		color: #00a;
		font-weight: bold;
/*		font-family: arial;*/
		margin-left: 5%;
	}
	#div_1_2{
		float: left;
		width: 60%;
		max-width: 800px;
	}
	.button{
		width: 200px;
		height: 60px;
		background-color: #0075ff;
		color: #fff;
		padding-top: 15px;
		font-size: 20pt;
		border-radius: 15px;
		box-sizing: border-box;
		box-shadow: 0 0 20px 3px #0075ff;
		clear: left;
		text-align: center;
	}
	.first{
		margin-left: 200px;
	}
	.second{
		margin: auto;
	}
	.arrow{
		float: left;
		transform: rotate(90deg);
		margin-right: 20px;
		color: #0075ff;
		cursor: pointer;
	}
	div.lang{
		position: relative;
		height: 55px;
		border-radius: 10px 10px 0 0;
		padding: 8px 25px;
		font-size: 20pt;
		font-weight: bold;
		color: #011b80;
		font-family: tahoma;
		box-sizing: border-box;
	}
	.lang_logo_mini{
		display: none;
	}
	.lang_logo{
		position: absolute;
		top: 10px;
		right: 20px;	
		height: 40px;	
	}	
	.lang_desc{
		padding: 3%;	
		font-size: 16pt;
		color: #006;
		font-family: tahoma;
		background-color: #cff;
		border-radius: 0 0 10px 10px;
/*		display: none;*/
	}
	span.desc_header{
		font-size: 18pt;
		font-weight: bold;
	}




}


