
@media screen and (min-width: 1000px) and (max-width: 1999px){



	#cont{
		background-color: #fff;
		width: 100%;
		text-align: center;
		padding: 0 20px;
		box-sizing: border-box;
	}
	#s1{
		text-align: justify;
	}
	#man{
		/*max-width: 400px;*/
		width: 40%;
		max-width: 500px;
		display: block;
		float: right;
	}
	#s2 .desc{
		font-size: 18pt;
		color: #00a;
		font-weight: bold;
/*		font-family: arial;*/
		width: 80%;
		margin: auto;
	}
	div.block{
		width: 80%;
		margin-bottom: 30px;
		background-color: #fff;
		border-radius: 10px;
		text-align: left;
		font-size: 12pt;
		color: #00f;
		margin: auto;
		box-sizing: border-box;
		box-shadow: 0 0 30px #99f;

	}
	#div_1{
		margin-left: 5%;
		margin-top: 70px;
	}
	#div_2{
		font-size: 18pt;
		color: #00a;
		font-weight: bold;
/*		font-family: arial;*/
		margin-left: 5%;
	}
	#div_1_2{
		float: left;
		width: 60%;
		max-width: 800px;
	}
	.button{
		width: 200px;
		height: 60px;
		cursor: pointer;
		background-image: linear-gradient(-20deg, #004599 , #0075ff);
		color: #fff;
		padding-top: 15px;
		font-size: 20pt;
		border-radius: 15px;
		box-sizing: border-box;
		box-shadow: 0 0 20px 3px #0075ff;
		clear: left;
		text-align: center;
	}
	.first{
		margin-left: 200px;
	}
	.second{
		margin: auto;
	}
	.arrow{
		float: left;
		transform: rotate(90deg);
		margin-right: 20px;
		color: #0075ff;
		cursor: pointer;
		transition-property: transform;
		transition-duration: 0.5s;
	}
	div.lang{
		position: relative;
		height: 55px;
		border-radius: 10px 10px 0 0;
		padding: 8px 25px;
		font-size: 20pt;
		font-weight: bold;
		color: #011b80;
		font-family: tahoma;
		box-sizing: border-box;
	}
	.lang_logo_mini{
		display: none;
	}
	.lang_logo{
		position: absolute;
		top: 10px;
		right: 20px;	
		height: 40px;	
	}	
	.lang_desc{
		/*display: none;*/
		height: 0;
		overflow: hidden;
		opacity: 0;
		transition-property: height, padding, opacity;
		transition-timing-function: ease;
		transition-duration: 0.5s;
		padding: 0;	
		font-size: 16pt;
		color: #006;
		font-family: tahoma;
		background-color: #cff;
		border-radius: 0 0 10px 10px;
	}
	input[type = "checkbox"]:checked + div{
		height: 100%;
		padding: 3%;
		opacity: 1;
	}	
	span.desc_header{
		font-size: 18pt;
		font-weight: bold;
	}
	.level{
		min-height: 250px;
		padding: 30px;
		box-sizing: border-box;
		border-radius: 5px;
		box-shadow: 0 0 2px #99f;	
	}
	.l1{
		background-color: #dff;
		float: left;
		width: 50%;
	}
	.l2{
		background-color: #ccf7ff;
		float: right;
		width: 50%;	
	}
	#forma{
		width: 100%;
/*		background-color: #0075ff;*/
		background-image: linear-gradient(-20deg, #008 , #0075ff);
		padding: 3%;
		box-sizing: border-box;
		border-radius: 20px;
		color: #fff;
	}
	.fblock{
		width: 100%;
		height: 50px;
/*		background-color: #ffe;*/
		font-size: 18pt;
		font-weight: bold;
	}
	.fname{
		width: 50%;
/*		background-color: #ffa;*/
		float: left;
		text-align: right;
		padding-right: 20px;
		box-sizing: border-box;
	}
	.fval{
		width: 50%;
/*		background-color: #ddf;*/
		/*display: inline-block;*/
		float: right;
		text-align: left;		
	}
	input, textarea{
		width: 200px;
		height: 20px;
		background-color: #ccf7ff;
		border: 0;
	}
	.send{
		font-size: 16pt;
		color: #fff;
		font-family: course;
		height: 30px;
		background-color: #039;
		border: 0;
		border-radius: 7px;
		padding-top: 5px;
		box-shadow: 0 0 5px 3px #ccf7ff;
		cursor: pointer;
	}
}


